<h1><%= @project.title %></h1>

<ul class="menu">
  <li><a href="<%= @project.github_link %>">GitHub link</a></li>
  <li><%= link_to 'Go home', projects_path %></li>
  <li><a href="https://www.reddit.com/r/kittens/">Distract me!</a></li>
  <li><%= button_to "Delete project", project_path(@project), method: :delete %></li>
</ul>

<div class="text-center">
    <p><%= @project.description %></p>
</div><br />

<div class="small-6 columns">
  <div class="callout">
    <h4>Features</h4>

    <% @features.each do |feature| %>
    <li><%= feature.body %></li>
    <% end %><br />
    <%= link_to 'Add feature', new_project_feature_path(@project) %>
  </div>
</div>

<div class="small-6 columns">
  <div class="callout">
    <h4>Recent Activity</h4>

    <% @updates.each do |update| %>
    <li><%= update.body %> | <%= update.created_at.strftime("%B %d %Y") %></li>
    <% end %><br />
    <%= link_to 'Add activity', new_project_update_path(@project) %>
  </div>
</div>
