<h2>Add a feature for <%= @project.title %></h2>

<%= form_for [@project, @feature] do |f| %>
  <%= f.label :body, "Description" %>
  <%= f.text_field :body %>
  <%= f.submit "Add feature" %>
<% end %>

<%= link_to 'Go home', projects_path %>
